<div class="row">

    <h1>Hard & Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-outline-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
        [title]="(skill.nombre)"
        [titleColor]="'orange'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="(skill.porcentaje)"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'ORANGE'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    <div>

    <td *ngIf="isLogged">
        <button class="btn btn-outline-dark" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil-fill"></i></button>
    </td>
                          
    <td *ngIf="isLogged">
        <button class="btn btn-outline-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash3-fill"></i></button>
    </td>
</div>

    </div>
</div>