<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [title]="'HTML'"
        [titleColor]="'orange'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'ORANGE'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'CSS'"
            [titleColor]="'blue'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="75"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [title]="'JAVASCRIPT'"
                [titleColor]="'yellow'"
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="80"
                [radius]="70"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'yellow'"
                [innerStrokeColor]="'yellow'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [title]="'ANGULAR'"
                    [titleColor]="'red'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [percent]="70"
                    [radius]="70"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'red'"
                    [innerStrokeColor]="'red'"
                    [animation]="true"
                    [animationDuration]="800"
                ></circle-progress>
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [title]="'INGLÉS'"
                        [titleColor]="'green'"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [percent]="90"
                        [radius]="70"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'green'"
                        [innerStrokeColor]="'green'"
                        [animation]="true"
                        [animationDuration]="800"
                    ></circle-progress>
                    </div>
</div>